.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
  min-height: 300px;
}

.spinnerWrapper {
  margin-bottom: 2rem;
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner {
  position: relative;
  width: 100%;
  height: 100%;
}

.spinnerRing {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-top-color: #ffb6c1;
  border-radius: 50%;
  animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.spinnerRing:nth-child(1) {
  animation-delay: -0.45s;
  border-top-color: #ffb6c1;
  opacity: 1;
}

.spinnerRing:nth-child(2) {
  animation-delay: -0.3s;
  border-top-color: #ffa5b8;
  opacity: 0.8;
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
}

.spinnerRing:nth-child(3) {
  animation-delay: -0.15s;
  border-top-color: #ff94a5;
  opacity: 0.6;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message {
  font-size: 16px;
  font-weight: 600;
  color: #374151;
  margin: 0 0 8px 0;
  text-align: center;
}

.subMessage {
  font-size: 14px;
  color: #9ca3af;
  margin: 0;
  text-align: center;
}

